.about-the-author {
    grid-area: author;
    background-color: #1566bd;
}

.about-the-author h2 {
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
    color: rgb(14, 13, 13);
}

.author-info-container {
    width: 100%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-info-left {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.author-info-left img {
    width: 70%;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 5px;
}

.author-info-left h3 {
    color:rgb(14, 13, 13);
    font-size: 1.7rem;
    text-decoration: underline;
}

.social-media-container {
    width: 80%;
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.social-media-container a {
    text-decoration: none;
} 

.social-media-container li {
    font-size: 1.5em;
    color: rgb(251, 247, 247);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.social-media-container li:hover {
    color:rgb(14, 13, 13);
}

.author-info-right {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-info-right p {
    color:rgb(251, 247, 247);
    padding: 25px;
    text-align: center;
    font-size: 1.5em;
}

/* tablet / medium sized screens */
@media screen and (max-width: 1000px) {
    .author-info-container {
        flex-direction: column;
    }
    .author-info-left {
        width: 100%;
    }
    .author-info-left img {
        margin: 5%;
    }
    .social-media-container {
        background-color: #0c4e94;
    }
    .author-info-right {
        width: 100%;
    }
}

/*mobile screens*/
@media screen and (max-width: 550px) {
    .about-the-author h2 {
        font-size: 2.5em;
    }
    .author-info-left img {
        width: 95%;
    }
    .social-media-container {
        width: 100%;
    }
    .social-media-container li {
        font-size: 1.2em;
    }
    .author-info-right p {
        font-size: 1.2em;
    }
}