@import "./global-styles.css";
@import "./sidebar.css";
@import "./main.css";

body {
    background-color: #1974D3;
}

/* grid layout  */ 
.grid-container {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    " hd hd hd hd "
    " hd hd hd hd "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    " sb main main main "
    "ft ft ft ft";
}
/*grid layout for tablet (removes useful links section, blog posts take up full width) */
@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-areas: 
        " hd hd hd hd "
        " hd hd hd hd "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        "ft ft ft ft";
    }
}
/* grid layout for mobile, reduces size of header*/
@media screen and (max-width: 550px) {
    .grid-container {
        grid-template-areas: 
        " hd hd hd hd "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        " main main main main "
        "ft ft ft ft";
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Header styling */
header {
    grid-area: hd;
    border: 1px solid rgb(251, 247, 247);
}
header h1 {
    font-family: 'Sriracha', cursive;
    color: rgb(14, 13, 13);
    font-size: 4em;
    letter-spacing: 5px;
    text-decoration: underline;
}
/*reduced font size for tablet*/
@media screen and (max-width: 1100px) {
    header h1 {
        font-size: 3em;
    }
}
/*reduced font size for mobile*/
@media screen and (max-width: 550px) {
    header h1 {
        font-size: 2em;
        letter-spacing: 0;
    }
}


/*Footer styling*/
footer {
    grid-area: ft;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(251, 247, 247);
}
footer h4 {
    color:rgb(251, 247, 247);
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
footer h4:hover {
    color:rgb(14, 13, 13);
}
footer a {
    text-decoration: none;
}
/*reduced sizing for mobile*/
@media screen and (max-width: 550px) {
    footer h4 {
        color:rgb(251, 247, 247);
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
}

